#mainArea {
    margin-top: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

li{
    list-style: none;
}

header{
    font-size: 3em;
    font-weight: bold;
}

#btnStart, #submit-button{
    border-radius: 10px;
    border: none;
    width: 100px;
    background-color: rgb(155, 47, 155);
    color: #ffffff;
    cursor: pointer;
}

#submit-button{
    margin-left: 10px;
}

.choice-button{
    border-radius: 10px;
    border: none;
    width: 200px;
    background-color: rgb(155, 47, 155);
    color: #ffffff;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;

}

#questionDIV{
    font-family: Arial, Helvetica, sans-serif;
}



#highscores{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(155, 47, 155);
    margin-top: 5px;
    cursor: pointer;

}


#timer{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-right: -5px;
    text-align: right;
}
